@charset "UTF-8";
/* Add your custom CSS declarations below  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
font-weight 300 - Light
font-weight 400 - Regular
font-weight 500 - Medium
font-weight 600 - Semi-Bold
font-weight 700 - Bold
*/


/* 
Potential Colors:
#FE654F
#CB8589
#ED6A5A
 */

body {
    padding: 0;
    margin: 0 auto !important;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 0px 25px;
}

.hero {
    background-color: #0066F2;
    color: #fff;
    background-size: cover;
    height: 90vh;
    /* background: url(../images/hero-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.hero-image {
    margin-left: -85%;
    margin-top: -10%;
    width: 200%;
    height: auto;
}

.jumbo-title {
    padding-top: 150px;
    font-weight: bold;
}

.jumbo-subtitle {
    font-weight: 400;
}

.nav-container {
    background-color: #0B5CE0;
}

.navbar-brand {
    font-weight: 700;
    color: #fff !important;
    font-size: 1.6rem;
}

.nav-link {
    font-weight: 400;
    color: #fff !important;
    margin-right: 15px;
    display:inline-block;
}
/* 
.nav-link::after {
    display:block;
    content: '';
    border-bottom: solid 3px #ED6A5A;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%; 
} */

.nav-link:hover {
    color: #ED6A5A !important;
}

.btn {
    background-color: #ED6A5A !important;
    padding: 10px 30px !important;
    border-radius: 100px;
    border: none !important;
}

section {
    padding-top: 100px;
}

.info-left {
    display: grid;
    place-content: center;
    padding-right: 50px;
}

.info-right {
    padding-left: 50px;
}

.btn-primary:hover {
    background-color: #ee7c6d !important;
}

.btn-secondary:hover {
    background-color: rgb(70, 70, 70) !important;
}

.contact-section {
    margin-top: 100px;
    padding: 100px 0px;
    background-color: #ED6A5A;
    color: #fff;
}

.contact-section h2 {
    font-weight: bold;
    font-size: 3.6rem;
}

.contact-section .btn {
    background-color: #0066F2 !important;
}

.contact-section .btn:hover {
    background-color: #1b76f7 !important;
}

footer h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

footer p {
    font-size: 1rem;
}

footer .address, .contact {
    padding-top: 100px;
}

footer .address {
    text-align: left;
}

footer .contact {
    text-align: right;
}
