@charset "UTF-8";
/* Add your custom CSS declarations below  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
font-weight 300 - Light
font-weight 400 - Regular
font-weight 500 - Medium
font-weight 600 - Semi-Bold
font-weight 700 - Bold
*/


/* 
Potential Colors:
#FE654F
#CB8589
#ED6A5A
 */

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-container, .hero {
    padding-right: 125px;
    padding-left: 125px;
}

.hero {
    background-color: #0066F2;
    color: #fff;
    background-size: cover;
    /* background: url(../images/hero-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.hero-image {
    /* padding-top: 150px; */
    width: 50%;
    height: auto;

}

.jumbo-title {
    padding-top: 150px;
    font-weight: bold;
}

.jumbo-subtitle {
    font-weight: 400;
}

.nav-container {
    background-color: #0B5CE0;
}

.navbar-brand {
    font-weight: 700;
    color: #fff !important;
    font-size: 1.6rem;
}

.nav-link {
    font-weight: 400;
    color: #fff !important;
    margin-right: 15px;
    display:inline-block;
}
/* 
.nav-link::after {
    display:block;
    content: '';
    border-bottom: solid 3px #ED6A5A;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%; 
} */

.nav-link:hover {
    color: #ED6A5A !important;
}

.btn {
    background-color: #ED6A5A !important;
    padding: 10px 30px !important;
    border-radius: 100px;
}

.btn:hover {

}

