.intro {
    background-color: #0066F2;
}

.hero {
    height: auto;
    padding-bottom: 150px;
}

.card:hover {
    border-color: #000;
}

h1 {
    font-weight: bold;
    padding-bottom: 15px;
    color: #fff !important;
}

.subtitle {
    color: #fff !important;
}

section {
    margin-top: -7%;
    padding: 0 !important;
}

.card {
    text-align: left;
    border-radius: 25px;
    margin: 0 auto;
    float: none;
    padding: 10px;
}

