.nav-container {
    background-color: #fff;
}

.navbar-brand {
    color: #000 !important;
}

.nav-link:hover {
    color: #ED6A5A !important;
}

.nav-link {
    color: #000 !important;
}

.about-artem {
    padding-top: 150px;
}

h2 {
    font-weight: bold;
    font-size: 2.4rem;
}