.nav-container {
    background-color: #df6656;
}

.hero {
    background-color: #ED6A5A;
    height: auto;
    padding-bottom: 50px;
}

.mobile-piece {
    padding-top: 50px;
}

.mobile-piece h2 {
    font-weight: 400;
}

.cust-card {
    border-radius: 20px;
}

.nav-link:hover {
    color: #0066F2 !important;
}

.btn {
    background-color: #0066F2 !important;
}

.btn-secondary {
    background-color: #000 !important;
    border: none !important;
}